---
import { Image } from "astro:assets"
import Facebook from "@assets/Facebook.svg"
import Instagram from "@assets/Instagram.svg"
import X from "@assets/X.svg"
import Youtube from "@assets/Youtube.svg"
import MCLogoOrange from "@assets/MCLogoOrange.svg"
import MFLogoFooter from "@assets/MFLogoFooter.svg"

const socials = [
    {title: "Facebook", src: Facebook, href: "https://www.facebook.com/mikefloresse?locale=es_LA"},
    {title: "Instagram", src: Instagram, href: "https://www.instagram.com/mikefloresse?igsh=cnJkaWRoaTc4bGp2"},
    {title: "X", src: X, href: "https://x.com/mikefloresse"},
    {title: "Youtube", src: Youtube, href: "https://youtube.com/@mikefloresse?si=bxjpAujQUAWNg4Cz"},
]
---
<footer>
  <div id="section-footer" class="relative flex items-center justify-between p-20 max-[758px]:p-10 max-[758px]:px-4">
        <Image class="w-[250px] max-[758px]:w-[40%]" src={MFLogoFooter} alt="Logo Mike Flores" />
        <div class="flex flex-col items-end gap-2">
            <p class="font-montserrat uppercase text-white font-bold text-sm max-[600px]:text-xs">sigueme en mis redes:</p>
            <ul class="flex gap-6 max-[758px]:gap-4">
            {
            socials.map(social => <li><a href={social.href} title={social.title}><Image class="w-8 max-[600px]:w-6 h-auto aspect-square" src={social.src} alt={`Logo de ${social.title}`}/></a></li>)
            }
            </ul>
        </div>
    </div>
    <div class="flex items-center justify-center p-10">
        <Image class="w-30" src={MCLogoOrange} alt="" />
    </div>
</footer>

<style>
    #section-footer {
        background-image: url("../assets/HeroNoise.webp");
        background-size: cover;
    }
</style>
